<div class="col-md-4">
    <div class="form-group">
        <label for="mean">Mean Start Time</label>
        <input type="text" class="form-control" id="mean" name="mean" value="<%= result.mean %>" disabled required>
    </div>
</div>
<div class="col-md-4">
    <div class="form-group">
        <label for="min">Min Start Time</label>
        <input type="text" class="form-control" id="min" name="min" value="<%= result.min %>" disabled required>
    </div>
</div>
<div class="col-md-4">
    <div class="form-group">
        <label for="max">Max Start Time</label>
        <input type="text" class="form-control" id="max" name="max" value="<%= result.max %>" disabled required>
    </div>
</div>